<div >
<div>
    <button id="setObject" type="button" class="btn btn-default" style="width: 160px;" ng-click="slideChange()">1 Set Object</button>
      <span class="glyphicon glyphicon-arrow-right"></span>    
    <button id="setConfigureChanel" type="button" class="btn btn-default" style="width: 160px;" ng-click="slideChange()">3 Configure Chanel</button>
      <span class="glyphicon glyphicon-arrow-right"></span>
    <button id="setTargetAudience" type="button" class="btn btn-default" style="width: 160px;" ng-click="slideChange()">2 Select Audience</button>      
      <span class="glyphicon glyphicon-arrow-right"></span>
    <button id="setActivateCompaign" type="button" class="btn btn-default" style="width: 160px;" ng-click="slideChange()">4 Activate Compaign</button>
</div>

<br>
<div ng-if="compaignSection" ng-init=getCategories()>
    <div class="panel contain-page">
        <h5>1 Chose Your Compaign Object</h5>
    </div>
    <div class="panel container-height contain-page">
        <div class="row">
            <div class="col-sm-4 ">
              <table class="table">
                <head>
                  <tr>
                    <th>Awarnes</th>
                  </tr>
                </head>
                <tbody>
                  <tr ng-repeat="data in obj.awarnes">
                    <td style="cursor: pointer" ng-click="selectCompaign(data.awarnes)" ng-class="{selected : data.awarnes === compaignName}">{{data.awarnes}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-sm-4">
              <table class="table">
                <head>
                  <tr>
                    <th>Consdrition</th>
                  </tr>
                </head>
                <tbody>
                  <tr ng-repeat="data in obj.consdrition">
                    <td style="cursor: pointer" ng-click="selectCompaign(data.consdrition)" ng-class="{selected : data.consdrition === compaignName}">{{data.consdrition}}</td>
                  </tr>
                </tbody>
              </table>
              <label></label>
            </div>
            <div class="col-sm-4">
              <table class="table">
                <head>
                  <tr>
                    <th>Converstion</th>
                  </tr>
                </head>
                <tbody>
                  <tr ng-repeat="data in obj.converstion">
                    <td style="cursor: pointer" ng-click="selectCompaign(data.converstion)" ng-class="{selected : data.converstion === compaignName}">{{data.converstion}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
        <div class="col-xs-offset-3">
            <div class="col-sm-7">
                <h3 class="text-center">{{compaignName}}</h3>
                <div class="col-sm-6">
                    <label class="pull-right">Compaign Name: </label>
                </div>
                <div class="col-sm-6" style="padding-left: 0px;">
                    <input type="text" name="" class="form-control" ng-model="compaign" placeholder="Give a name your company"><br>
                    <button type="button" class="btn btn-primary pull-left" ng-show="compaignSelectValid && compaign" ng-click="compaignCreate()">Continue</button>
                    <button type="button" class="btn btn-primary pull-left" ng-hide="compaignSelectValid && compaign">Continue</button>
                </div>
            
            </div>
        </div>
    </div>
</div>
<div  ng-if="compaignChanelSection" ng-init="getCompaignChanel()">
    <div class="panel contain-page">
        <h5>2 Add marketing Chaneles to your compaign</h5>
    </div>
    <br>
    <div class="panel container-height contain-page" style="padding-top: 10px;">
        <h4 class="pull-left">Compaign Chanel</h4>
        <button type="button" class="btn btn-primary pull-right" ng-click="newChanel()">Add Chanel</button>
        <table class="table">
            <thead>
                <tr>
                  <th>Chanel Name</th>                 
                  <th>Start Date</th>
                  <th>End Date</th>
                  <th>Status</th>
                  <th>Edit</th>
                  <th>Update</th>
                </tr>
            </thead>
            <tbody>
              <tr ng-repeat="chenel in compaignChenel">
                  <td>{{chenel.channel_name}}</td>
                  <td>{{chenel.create_date}}</td>
                  <td>{{chenel.update_date}}</td>
                  <td>{{chenel.status}}</td>
                  <td>
                      <button ng-click="editCompaignChenel(chenel)">Edit</button>
                  </td>
                  <td>
                      <button ng-click="deleteCompaignChenel(chenel)">Delete</button>
                  </td>
              </tr>
            </tbody>
        </table>
        <div class="col-xs-offset-5" style="padding-top: 20px">
            <button type="button" class="btn btn-primary" ng-click="savedCompaignChanel()">Continue</button>
        </div>
    </div>
</div>

<div  ng-if="newCompaignChanelSection">
    <div class="panel contain-page">
        <h5>2 Add marketing Chaneles to your compaign</h5>
    </div>
    <br>
    <div class="panel container-height contain-page" style="padding-top: 10px;">
        <h4 class="pull-left">Compaign Chanel</h4>
          <form>
              <label>Chanel Name</label>
              <input type="text" name="chenelName" ng-model="chenel.channel_name">
          </form>
        
        <div class="col-xs-offset-5" style="padding-top: 20px">
            <button type="button" class="btn btn-primary" ng-click="createNewCompaignChanel(chenel)">Continue</button>
        </div>
    </div>
</div>

<div  ng-if="audienceSegementSection" ng-init="getAudienceSegement()">
    <div class="panel contain-page">
        <h5>3 Select Your Compaign Target Audience</h5>
    </div>
    <br>
    <div class="panel container-height contain-page" style="padding-top: 10px;">
        <h4 class="pull-left">Saved Audience Segement</h4>
        <button type="button" class="btn btn-primary pull-right" ng-click="newSegementCreate()">Create New Segement</button>
        <table class="table">
            <thead>
                <tr>
                  <th>Segement Name</th>
                  <th>Segement Type</th>
                </tr>
            </thead>
            <tbody>
              <tr ng-repeat="segementData in audienceSegementData">
                <td>
                    <input type="checkbox" class="custom-control-input">  {{segementData.segement_name}}
                </td>
                <td>{{segementData.segment_form_data}}</td>
                <td>
                    <button ng-click="editAudienceSegement(segementData)">Edit</button>
                </td>
                <td>
                    <button ng-click="deleteAudienceSegement(segementData)">Delete</button>
                </td>
              </tr>
            </tbody>
        </table>
        <div class="col-xs-offset-5" style="padding-top: 20px">
            <button type="button" class="btn btn-primary" ng-click="savedAudienceSegement()">Continue</button>
        </div>
    </div>
</div>
<div ng-if="newSegementCreateForm">
  <div class="panel panel-heading">
        <h5>Create New Segement</h5>
    </div>
    <br>
    <div class="panel container-height contain-page">
    <div class="col-sm-8">
        <h5>Available Audience Dashboard</h5>
        <hr>
        <form>
            <label>Segement Name</label>
            <input type="text" class="form-control" name="" ng-model=segment.segement_name>
            <label>Segement Type</label>
            <input type="text" class="form-control" name="" ng-model=segment.segment_form_data>
        </form>
    </div>
    <div class="col-sm-4">
      <h5>Total Targetable Available</h5>
        <hr>
    </div>
    <hr>
    <div class="pull-right">
        <button class="btn btn-default" type="button" ng-click="audienceCancel()">Cancel</button>
        <button class="btn btn-primary" type="button" ng-click="savedAudience(segment)">Save Audience</button> 
    </div>
</div>
</div>
<div  ng-if="compaignActivate">
    <div class="panel contain-page">
        <h5>Compaign Activated</h5>
    </div>
    <br>
    <div class="panel container-height contain-page">
        <div class="col-xs-offset-5">
            <h3>Congratulation</h3>
            <button type="button" class="btn btn-primary" ng-click="backToDashboard()">Back to Dashboard</button>
                <button type="button" class="btn btn-default" ng-click="createNewCompaign()">Create New Compaign</button>
        </div>
    </div>
</div>
</div>


    
 